<!-- START X-NAVIGATION -->
<ul  ng-class="'x-navigation'" >

  <li class="xn-logo ">
    <a class="logo" ui-sref="home"><strong class="logo-strong"></strong></a>
    <a href="#" class="x-navigation-control"></a>
  </li>



  <!-- ========================NAVIGATION PAGES========================== -->

  <li ng-class="'xn-title'">Console Management</li>
  <li class="xn-openable">
    <a href="#"><span class="fa fa-file-text-o"></span> <span class="xn-text">Prototype</span></a>
    <ul>
      <li><a ui-sref="prototypeDailyOrders" >Daily Orders</a></li>
      <li><a ui-sref="prototypeOrderDetail" >Add Order Detail</a></li>
      <li><a ui-sref="prototypeAddRetailer">Add Retailers</a></li>
      <li><a ui-sref="prototypeSystemSettings">Add System Settings</a></li>
      <li><a ui-sref="installations">Device Installations</a></li>
    </ul>
  </li>
  <li >
    <a ui-sref="home"><span ng-class="'fa fa-desktop'"></span> <span ng-class="'xn-text'">Dashboard</span></a>
  </li>

  </li>


</ul>
<!-- END X-NAVIGATION-->
